body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
    transition: background-image 1s ease-in-out;
}

#image-tracking  .image{
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
    transition: transform 500ms ease-in-out;
    cursor: pointer;
    border: 0px solid black;
}

#image-tracking {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    transition: all 500ms ease-in-out;
}

#image-tracking .image:hover{
    transform: translateY(-10px);
    border: 2px solid white;
}

@keyframes bottom {
    from {
        transform: translate(0%, -50%);
    }
    to {
        transform: translate(0%, 0%);
    }
}

@keyframes center {
    from {
        transform: translate(0%, 0%);
    }
    to {
        transform: translate(0%, -50%);
    }
}

@keyframes shrink{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.5);
    }
}

@keyframes expand{
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}
/*
.clicked-image {
    animation: expand 500ms ease-in-out forwards;
}*/

.divbottom {
    animation: bottom 500ms forwards ease-in-out;
}

.divcenter {
    animation: center 500ms forwards ease-in-out;
}

.imgshrink {
    animation: shrink 500ms forwards ease-in-out;
}
.imgexpand{
    animation: expand 500ms forwards ease-in-out;
}
